


/* Header */

	#header h1 {
		font-size: 3.25em;
		margin-bottom:0;
	}

	#site-description {
		margin-top:-0.1em; 
		color:#444;
		font-size: 3.25em;
		line-height: 0.9em;
	} 


	#header p {
		font-size: 1.35em;
		line-height: 1.55em;
	}

	#header a {
		color: inherit;
	}

	@media screen and (max-width: 736px) {

		#header h1 {
			font-size: 2em;
		}

		#header p {
			font-size: 1em;
		}
		
		#site-description {
			font-size: 2em;
		} 	

	}

	@media screen and (max-width: 480px) {

		#header {
			margin: 0 0 1em 0;
		}

	}



/* Entry */

.entry {
    width: 60%;
}

@media screen and (max-width: 736px) {

	.entry {
		width: 80%;
	}

}

	@media screen and (max-width: 480px) {

		.entry {
			width: 100%;
		}


	}
	
	

/* Images */
 
img {
    max-width: 100%;
}
#content img {
    margin: 0;
    height: auto;
    width: auto;
}
#content .alignleft,
#content img.alignleft {
    float: left;
    margin: 4px 4% 4px 0;
}
#content .alignright,
#content img.alignright {
    float: right;
    margin: 4px 0 4px 4%;
}
#content .aligncenter,
#content img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
    margin-bottom: 12px;
}